<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Weather App</title>
</head>
<body>
<div class="container">
    <form method="POST">
        <h1>Welcome to my weather app</h1>
        <input type=text name="location" placeholder="Enter city name" required>
        <button>Submit</button>
    </form>
    {% if weather_data %}
    <h2>{{ weather_data.country }}</h2>
    <table>
        <tbody>
            <tr>
        {% for day in weather_data.forecast %}
                <td>
        <h4>{{ day['date'] }} {{ day['day_name'] }}</h4>
        <p>day: {{ day['morning_temp'] }}° C</p>
        <p>night: {{ day['evening_temp'] }}° C</p>
        <p>humidity:{{ day['humidity'] }}%</p>
                </td>
        {%endfor%}
            <tr>
        </tbody>
    </table>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}
</div>
</body>
</html>